@import "variable";
@import "mixin";

.cube-search-form {
  position: fixed;
  width: 600px;
  height: 400px;
  background-color: transparent;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
  visibility: hidden;
  z-index: 1001;
  &.show {
    visibility: visible;
    &:before {
      content: '';
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(0, 0, 0, .5);
    }
  }
  .cube-search-control {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #ddd;
    .search-input {
      outline: none;
      border: 0;
      width: 90%;
    }
    .close-button {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }

  .cube-search-result {
    width: 100%;
    height: 300px;
    max-height: 300px;
    background-color: #fff;
    overflow: auto;
    ul.search-result-list {
      padding-left: 0;
      list-style: none;
      box-sizing: border-box;
      margin: 0;
      li {
        padding: 10px;
        &:not(:last-child) {
          border-bottom: 1px solid #ddd;
        }
        a.search-result-link {
          width: 100%;
          height: 100%;
          @include link($hover-color: $basic-black-font-color);
          @include clearFix;

          div.image {
            // flex: 0 1 80px;
            float: left;
            max-width: 80px;
            width: 80px;
            height: 60px;
            overflow: hidden;
            margin-right: 10px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }

          div.info {
            float: left;
            width: 100%;
            position: relative;
            .title {
              border: 0;
              margin-top: 0;
              margin-bottom: 0;
              padding: 0;
              line-height: 1.2em;
              font-size: 1.2em;
              height: 1.2em;
              text-align: left;
              overflow: hidden;
              max-width: 100%;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-weight: normal;
              color: #666;
            }

            .text {
              border: 0;
              margin-top: 0;
              margin-bottom: 0;
              padding: 0;
              line-height: 1.1em;
              font-size: 1.1em;
              height: 1.1em;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: 100%;
              text-align: left;
            }

          }
        }
      }
    }
  }
}