// basic font size
$basic-font-size: 14px;


// font color
$basic-font-color: #fff;
$basic-black-font-color: #999;
$title-font-color: #444;
$black-font-color: #000;
$strong-font-color: #333;
$code-font-color: #d14;
$code-background-color: #eee;
$code-border-color: #d6d6d6;
$archive-title-color: #B94A48;

$body-background-color: #f5f8f9;
$mobile-body-background-color: #efefef;
$basic-body-background-color: #fff;

// link color
$link-color: #fff;
$link-background-color: #38b7ea;

$basic-link-color: #38b7ea;
$basic-link-background-color: #efefef;
$basic-link-hover-color: #38b7ea;

$article-box-shadow: #ddd;

$footer-border-color: #ddd;

// menu-background
$side-menu-background-color: #00BCD4;

// count-color
$articles-color: #00BCD4;
$tags-color: #f06292;
$categories-color: #72d572;